fastapi>=0.115.0
uvicorn[standard]>=0.30.0
pydantic>=2.7.0
pydantic-settings>=2.3.0

# PostgreSQL
sqlalchemy[asyncio]>=2.0.0
asyncpg>=0.29.0

# Neo4j
neo4j>=5.20.0

#RabbitMQ
pika
aio-pika

python-multipart
pymupdf
aiohttp
requests
jinja2
pymupdf4llm